@model IEnumerable<TaskModel>

@{
    var completedTasks = Model.Where(t => t.IsDone);
    var tasksToDo = Model.Where(t => !t.IsDone);
}

<div class="w-50 text-center m-4">
    <partial name="_TaskList" model='(tasksToDo, "Your tasks", "Complete", "CompleteTask", "success")' />
    <a class="btn btn-primary w-100 mb-4" asp-controller="Home" asp-action="Add">Add new</a>
    <partial name="_TaskList" model='(completedTasks, "Completed tasks", "Uncomplete", "UncompleteTask", "danger")' />
    @if (completedTasks.Any())
    {
        <a class="btn btn-danger w-100 mb-4">Delete all completed</a>
    }
</div>