<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To-Do app</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-dark bg-dark">
        <div class ="text-white p-2 navbar-brand">
            To-Do app
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
